.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text {
  text-align: center;
}

.link {
  @include hover {
    opacity: 0.8;
    color: var(--color-accent)
  }
}